spring:
  application:
    name: Springerator
  data:
    redis:
      host: redis
      port: 6379
      password: springerator_redis_pass
  cache:
    type: redis

server:
  port: 9001
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
    threads:
      max: 50
      min-spare: 5
